
body { padding-top: 70px; 
		}
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
#logo {
		height: 80px;
		padding-top: 20px;
		padding-bottom: 20px;
		}
.navbar-right {
	padding-top: 30px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}
#marca {
	margin-left: 20px;
	height: 30px;
}

.seccion {
	padding-top: 30px;	
}
.header{
	background-image: url(assets/img/actividades-banner.jpg);
	text-align: center;
	background-size: cover;
	height: 300px;	
}
.btn-group button {
	margin-top: 20px;
	color:white;
}
.tuit {
	background-color: #55acee;
}
.feis {
	background-color: #3b5998;
}
.linkedin {
	background-color: #007bb5;
}
.caps {
	background-color: rgba(0,0,0,0.5);
	color:white;
	display:inline-block;
	color:white;
	padding:20px;
	text-align: center;
	border-style: none;
	border-radius: 30px;
}
.footer{
	padding-top: 30px;
	clear: both;
}
.donaciones {
	clear:both;
}
.rrss {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.rrss img {
	height: 30px;
	margin:4px;
}
.actividades {
	list-style-type: none;
}
.objetivos {
	list-style-type: none;
}
.glyphicon {
	margin-right: 5px;
}

.info-contacto {
	padding-top: 8px;
	font-size: 10px;
	text-align: center;
}
.info-contacto {
	clear: both;

}
.nombre {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	padding-bottom:0;
	margin-bottom: 0;
	font-size: 18px;
}
.cargo {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: lighter;
	font-size: 15px;
	padding-bottom:0;
	margin-bottom: 0;
}
.organizacion {
	clear:both;
}
.organizacion li {
	margin-bottom: 20px;
}
.thumbnail img {
	height: 165px;
}
.thumbnail {
	text-align: center;
}
h4 {font-family:'Indie Flower', cursive;
	text-align: left;
	padding-top: 40px;
}

h3 {
	font-family: 'Indie Flower', cursive;
	margin-bottom: 0;
	padding-bottom: 10px;
	
}

h2  {
	font-family:'Indie Flower', cursive;
	text-align: center;
}

p {
	margin-bottom: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
}
.caption p {
	text-align: left;
}
.foto-directorio {
	padding-top: 50px;
}
.info-contacto {
	font-size: 15px;
}
.colaboracion {
	list-style-type: none;
}
.list {
	font-family: 'Open Sans Condensed', sans-serif;
	padding-top: 20px;
}

.elmapa iframe{
	padding-bottom: 20px;
	}
.elfondo {
    color: #252326;
    font-size: 20px;
    padding: 10px;
    font-family:'Indie Flower', cursive;
}
.blog {
	margin-top: 10px;
	color:blue;
}
